<body>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1010 666" aria-label="World Map">
        <path *ngFor="let country of countries" [attr.d] = "country.d"
        [attr.name] = "country.name"
        [attr.id] = "country.id" (click)=onSelect(country.id)>
        </path>
      </svg>

      <div class="details" *ngIf="countryData, countryTime" >
        <h2>{{countryData[0].name}} Details:</h2>
        <div><span>Capital: </span>{{countryData[0].capitalCity}}</div>
        <div><span>Region:</span>{{countryData[0].region.value}}</div>
        <div><span>IncomeLevel: </span>{{countryData[0].incomeLevel.value}}</div>
        <div><span>Longitude/Latitude: </span>{{countryData[0].longitude}}/{{countryData[0].latitude}}</div>
        <div><span>Date/Time: </span>{{countryTime.datetime}}</div>
    </div>
</body>